@import '../../assets/colors';

.validation-popper {
    position: absolute;
    z-index: 10;
    $arrow-size: 13px;
    background-color: $hel-coat;
    color: #fff;
    font-size: 90%;
    padding: 8px 16px;
    user-select: none;
    inline-size: max-content;
    left: 103%;
    top: 50%;
    .arrow {
        display: none;
    }
    &:before {
        border-color: transparent $hel-coat transparent transparent;
        border-style: solid;
        border-width: 8px 14px 8px 0;
        content: '';
        height: 0;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translate(-$arrow-size, -50%);
        width: 0;
    }

    &.modal-popper {
        z-index: 1300;
    }
}
@media (max-width: 575px) {
    .validation-popper {
        left: 35%;
        bottom: auto;
        top: -15%;
        &:before {
            left: 46%;
            top: 95%;
            transform: rotate(-90deg);
        }
    }
}
