.validation-error-popover.popover {
    display: block;

    border: 0;
    padding: 0;
    color: #fff;
    left: initial;
    top:50%;
    left:100%;
    transform: translateX(26px) translateY(-50%);
    min-height: 38px;
    min-width: 190px;
    width: auto;

    text-align: left;

    background: transparent;

    .popover-content {
        min-width: 190px;
        background: transparent;

        span {
            padding: 1px 20px;
            margin-left: -14px;
            display: inline-block;
            border-radius: 6px;
            line-height: 38px;
            background: #48a3e9;
            white-space: nowrap;
        }
    }

    &.small {
        height: 28px;
        min-height: 28px;

        .popover-content {
            span {
                position: relative;
                padding: 1px 12px;
                margin-left: -14px;
                top: -10px;
                line-height: 28px;
            }
        }
    }
}

.arrow {
    position: absolute;
    left: -11px;
    top:50%;
    transform: translateY(-50%);
    width: 12px;
    height: 25px;

    background-image: url('./arrowleft.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media (max-width: 520px) {
    .validation-error-popover {
        .popover-content {
            min-width: 100px;
            white-space: normal;
        }

        &.small {
            .popover-content {
                padding: 1px 12px;
                white-space: nowrap;
            }
        }
    }
}
