.hel-checkbox {

    margin-top: 14px;
    line-height: 32px;

    label {
        input {
            position: relative;
            top: -2px;
        }

        span {
            padding-left: 14px;
        }
    }

    &.inline {
        margin-top: 0;
    }
}

@media (min-width: 990px) and (max-width: 1200px) {
    .hel-checkbox {
        label {
            span {
                font-size: 14px;
            }
        }
    }
}
