.hel-checkbox {

    margin-top: 14px;
    line-height: 32px;

    input {
        margin-right: 14px;
    }

    label {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;

        input {
            position: relative;
        }

        span {
            padding-left: 14px;
        }
    }

    &.inline {
        margin-top: 0;
    }
}

@media (min-width: 990px) and (max-width: 1200px) {
    .hel-checkbox {
        label {
            span {
                font-size: 14px;
            }
        }
    }
}
