.hel-checkbox {

    margin-top: 14px;
    line-height: 32px;

    label {
        input {
            position: relative;
            top: -2px;
        }

        span {
            padding-left: 16px;
        }
    }
}
