$select-input-border-radius: 0px;

.hel-select {
    h3 {
        position: relative;
        margin-top: 1.5rem;
        font-size: 1.25rem;
    }
        .validation-error-popover.popover.small {
            top: 50%;
        }
}

.css-1wa3eu0-placeholder{
    color: #000000 !important;
}

.select-popover {
    position: absolute;
    left: 100%;
    top: 6%;
}
@media (max-width: 575px) {
    .select-popover {
        left: 30%;
        top: -5%;
    }
}
