.hel-text-field {
    position: relative;
    width: 100%;
    display: block;

    margin-top: 18px;
    margin-bottom: 10px;

    .hel-label {
        display: block;
        font-size: 15px;
        margin-bottom: 4px;
        color: #777;
    }

    .help-block {
        font-size: 12px;
    }

    input, textarea {
        width: 100%;
        height: auto;

        transition: 200ms border;

        border: none;
        border-radius: 0;
        border-bottom: 2px solid #e0e0e0;

        line-height: 22px;
        font-size: 20px;

        padding: 0;
        padding-top: 4px;
        padding-bottom: 4px;

        resize: none;

        &:focus {
            outline: 0;
            border-color: rgba(0, 188, 212, 1);
            box-shadow: none;
        }

        &[disabled] {
            color: #999;
            border: none;
            background-color: #f7f7f7;
            border-bottom: 2px dashed #e0e0e0;
        }
    }

    &.disabled {
        cursor: not-allowed;

        .hel-label {
            cursor: not-allowed;
            color: #bbb;
        }

        input, textarea {
            cursor: not-allowed;
            color: #999;
            border: none;
            background-color: #f7f7f7;
            border-bottom: 2px dashed #e0e0e0;
        }
    }

    &.has-warning {
        input, textarea {
            border-color: red;
        }

        .help-block {
            color: red;
        }
    }
}
