.hel-text-field {
    width: 100%;

    margin-top: 18px;
    margin-bottom: 10px;

    .hel-label {
        display: block;
        font-size: 15px;
        margin-bottom: 4px;
        color: #777;
    }

    input, textarea {
        height: auto;
        transition: 200ms border;
        width: 100%;
        border: none;
        border-bottom: 2px solid #e0e0e0;
        line-height: 22px;
        font-size: 20px;

        padding: 0;
        padding-top: 4px;
        padding-bottom: 4px;

        resize: none;

        &[disabled] {
            color: #888;
            border: none;
            border-bottom: 2px dashed #e0e0e0;
        }

        &:focus {
            outline: 0;
            border-color: rgba(0, 188, 212, 1);
        }
    }
}
