.multi-field {
    position: relative;
    margin-top: 2rem;

    > label {
        color: #48a3e7;
    }

    .indented {
        padding: 3px 8px 11.5px 23px;
        border-left: 5px solid #f7f7f7;

        > label {
            display: inline-block;
            position: relative;
            margin-top: -1.5rem;
            color: #48a3e7;
        }
    }

}
