@import "../../assets/colors";

.multi-field {
    position: relative;
    margin-top: 2rem;

    .indented {
        padding: 3px 23px 11.5px 23px;
        border-left: 5px solid #f7f7f7;

        & > label {
            color: $hel-coat;
        }
    }
}
