.new-offer {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &:not(:first-of-type) {
        margin-top: 36px;
    }

    > div {
        width: 100%;
    }
}
.offers-button {
   border: none;
   background-color: inherit;
   width: 42px;
   height: 36px;
   position:absolute;
   left: -55px;
   top: 3.5rem;
}

@media (max-width: 600px) {
    .offers-button {
        position: absolute;
        left: 80%;
        top: 5%;
        z-index: 1;
     }
}
