.event-page {

    &.container {
        background: rgba(255,255,255,0.9);
    }

    header {
        padding-bottom: 40px;

        h1 {
            margin-top: 0;
            padding-top: 60px;
        }
    }

    pre {
        margin: 2rem 0
    }

    .highlighted-block {
        display: block;
        background-color: #fff;

        padding: 20px;
        min-height: 72px;

        color: #5a5959;
    }

    .published-information {
        text-align: right;
        margin: 20px 10px;
    }
}

.event-actions {
    display: flex;
    justify-content: space-evenly;

    .cancel-delete-btn,
    .edit-copy-btn {

        > *:not(:last-child) {
            margin-right: 8px;
        }
    }
}

.event-action-buttons {
    align-items: center;
    background-color: #f7f7f7;
    display: flex;
    height: 120px;
    margin: 3rem 0 0;

    .event-actions {
        width: 100%;
    }
}

.warn {
    text-transform: uppercase;
    margin-right: 0.5em;
}

.tag-space {
    margin-right: 8px;
}

@media (max-width: 768px) {
    .actions {
        margin: 0;
        padding: 0;
        width: 100%;
        button {
            span {
                word-break: break-all;
                line-height: 1;
            }
        }
    }
    .event-action-buttons {
        display: contents;
    }
    .event-actions {
        display: grid !important;
    button {
        margin-bottom: 10px;
        line-height: 1.5;
        padding: 12px;
        width: 100%;
        }
    }
}
@media (min-width:768px) and (max-width:1200px) {
    .event-actions {
        display: block !important;
        text-align: center;
        button {
            margin: 10px;
        }
    }
}
