.event-page {
    .highlighted-block {
        display: block;
        background-color: #fff;
        padding: 20px;
        min-height: 72px;
        color: #5a5959;
    }
    .published-information {
        text-align: right;
        margin: 20px 10px;
    }
}

.event-actions {
    display: flex;
    justify-content: space-evenly;
    .btn-secondary {
        margin: 0.5vh;
    }
}

.event-action-buttons {
    align-items: center;
    background-color: #f7f7f7;
    display: flex;
    height: 120px;
    margin: 3rem 0 0;
    .event-actions {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.warn {
    text-transform: uppercase;
    margin-right: 0.5em;
}

.tag-space {
    margin-right: 8px;
}

// event-action Mobile Styles
@media (max-width: 1350px) {
    .event-action-buttons {
        height: auto;
    }
    .event-actions {
        font-size: 1em;
        button {
            width: 100%;
            max-height: min-content;
        }
        .cancel-delete-btn, .edit-copy-btn {
            margin-left: 8px;
            margin-right: 8px;
        }
    }
}
@media (max-width: 990px) {
    .event-actions {
        display: block;
        button {
            font-size: 0.95rem;
            width: 100%;
            max-height: min-content;
        }
        .cancel-delete-btn, .edit-copy-btn {
            margin-left: 8px;
            margin-right: 8px;
        }
    }
}
@media (max-width: 370px) {
    .event-actions {
        button {
            font-size: 0.8rem;
        }
    }
}