@import '../../assets/colors';

.keyword-chip-container {
    margin: 10px 0 20px;

    .keyword-chip-item {
        background-color: $hel-coat;
        color: white;
        font-weight: 400;
        margin: 10px 10px 0 0;

        &:focus {
            background-color: $hel-coat;
        }

        span {
            display: block;

            &:first-letter {
                text-transform: capitalize;
            }
        }

        > svg {
            color: white;

            &:hover {
                color: darken(white, 10%);
            }
        }
    }
}
