.badge-primary{
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    text-transform: capitalize;
    text-align: center;
    font-size: 100%;
    background-color: #0072c6;
}
.badge{
    .btn-secondary{
        margin-left: 5px;
        margin-right: 5px;
        border:none;
        text-align: center;
        text-transform: uppercase;
        font-size: 100%;
    }
}
