.UmbrellaCheckbox {
    input {
        margin-bottom: 1rem;
    }
}

.editor-page {
    .side-field-umbrella.highlighted-block {
        padding: 20px;
    }
}

@media (min-width: 575px) {
    .UmbrellaCheckbox {
        label {
            width: max-content;
        }
    }
}