$en-color: #009246; // tram
$fi-color: #0000bf; // bus
$sv-color: #ffc61e; // summer
$ru-color: #9fc9eb; // fog
$zh-color: #bd2719; // brick
$ar-color: #00d7a7; // copper


$default-margin-top: 1.5rem;

.multi-value-field {
    margin-top: $default-margin-top;

    .indented {
        margin-bottom: 16px;
        border-left: 2px solid $fi-color;
        padding-left: 1rem;

        &.in-fi {
            border-color: $fi-color;

            .language {
                color: $fi-color;
            }
        }

        &.in-sv {
            border-color: $sv-color;

            .language {
                color: $sv-color;
            }
        }

        &.in-en {
            border-color: $en-color;

            .language {
                color: $en-color;
            }
        }

        &.in-ru {
            border-color: $ru-color;

            .language {
                color: $ru-color;
            }
        }

        &.in-zh_hans {
            border-color: $zh-color;

            .language {
                color: $zh-color;
            }
        }

        &.in-ar {
            border-color: $ar-color;

            .language {
                color: $ar-color;
            }
        }
    }

    > label {
        font-size: 24px;
        font-weight: 300;
    }

    .language {
        margin-top: -1.5rem;
        color: $fi-color;
    }
}

legend {
    font-weight: 300;
    font-size: 31px;
    margin-top: 4rem;
}

.single-value-field {
    margin-top: $default-margin-top;
    line-height: 32px;

    margin-bottom: 16px;

    label {
        font-size: 24px;
        font-weight: 300;
    }

    .value {
        display: inline-block;
        background: #ffffff;
        border-bottom: 1px solid #999;
        padding: 0 1rem;
        width: 100%;
        span {
            &:first-child {
                padding-right: 5px;
            }
        }
    }
}

.no-value {
    color: #777;
    font-style: italic;
    font-weight: 300;
}

.checked-value {
    font-size: 22px;
    font-weight: 300;

    label {
        margin-left: 1rem;
    }
}

.green {
    color: darken(#28e7b3, 24%);
}

.option-group {
    padding: $default-margin-top $default-margin-top;

    label {
        font-size: 24px;
        font-weight: 300;
    }

    .checked-value {
        label {
            font-size: 20px;
            margin-left: 1rem;
        }
    }
}

.white {
    background: #ffffff;
}

.offer-values:not(:first-of-type) {
    margin-top: 3rem;
}

.event-image {
    max-height: 16em;
    max-width: 70%;
}

.link-to-events-text {
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 1rem;
}
