$en-color: #009246; // tram
$fi-color: #0000bf; // bus
$sv-color: #ffc61e; // summer
$ru-color: #9fc9eb; // fog
$zh-color: #bd2719; // brick
$ar-color: #00d7a7; // copper


$default-margin-top: 1.5rem;

.multi-value-field {
    margin-top: $default-margin-top;

    .indented {
        margin-bottom: 16px;
        border-left: 2px solid $fi-color;
        padding-left: 1rem;

        &.in-fi {
            border-color: $fi-color;

            .language {
                color: $fi-color;
            }
        }

        &.in-sv {
            border-color: $sv-color;

            .language {
                color: $sv-color;
            }
        }

        &.in-en {
            border-color: $en-color;

            .language {
                color: $en-color;
            }
        }

        &.in-ru {
            border-color: $ru-color;

            .language {
                color: $ru-color;
            }
        }

        &.in-zh_hans {
            border-color: $zh-color;

            .language {
                color: $zh-color;
            }
        }

        &.in-ar {
            border-color: $ar-color;

            .language {
                color: $ar-color;
            }
        }
    }

    > label {
        font-size: 22px;
        font-weight: 300;
    }

    .language {
        margin-top: -1.5rem;
        color: $fi-color;
    }
}

legend {
    font-weight: 300;
    font-size: 31px;
}

.single-value-field {
    margin-top: $default-margin-top;
    line-height: 32px;

    margin-bottom: 16px;

    label {
        font-size: 22px;
        font-weight: 300;
    }

    .value {
        display: block;

        span {
            &:first-child {
                padding-right: 5px;
            }
        }
    }
}

.no-value {
    color: #777;
    font-style: italic;
    font-weight: 300;
}

.checked-value {
    align-items: center;
    display: flex;
    font-size: 22px;
    font-weight: 300;

    label {
        margin: 0 0 0 1rem;

        &:first-letter {
            text-transform: capitalize;
        }
    }
}

.green {
    color: darken(#28e7b3, 24%);
}

.option-group {
    padding: $default-margin-top 0;

    label {
        font-size: 22px;
        font-weight: 300;
    }

    .checked-value {
        margin-top: 8px;

        label {
            font-size: 20px;
        }
    }
}

.white {
    background: #ffffff;
}

.offer-values:not(:first-of-type) {
    margin-top: 3rem;
}

.event-image {
    max-height: 20em;
    max-width: 70%;
}

.video-item {
    &--container {
        &:not(:first-of-type) {
            margin-top: 3rem;
        }
    }
}
.event-details {
    input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
    }
    input[type="checkbox"]::before {
        position: absolute;
        font-size: 1.2em;
        right: -1px;
        top: -0.3em;
        visibility: hidden;
    }
    input[type="checkbox"]:checked::before {
        /* Use `visibility` instead of `display` to avoid recalculating layout */
        visibility: visible;
    }
    input[type="checkbox"]:disabled {
        border-color: black;
        background: #ddd;
        color: gray;
    }
}
