@import '../../assets/colors';

$checkbox-column-width: 50px;

.draft-row {
    background-color: rgba(255, 208, 91, 0.60) !important;
}

.cancelled-row {
    background-color: rgba(222, 114, 106, 0.60) !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.tag-space {
    margin-right: 4px;
}

.event-table {
    th.checkbox,
    td.checkbox {
        padding: 10px;
        width: $checkbox-column-width;
    }

    th.checkbox + th:not(.checkbox),
    th:first-of-type:not(.checkbox),
    td.checkbox + td:not(.checkbox),
    td:first-of-type:not(.checkbox) {
        width: auto;
    }

    td.name-cell {
        & > div {
            align-items: center;
            display: flex;

            a {
                margin-left: 10px;
            }
        }
    }

    th.validation-cell,
    td.validation-cell {
        padding: 0;
        text-align: center;
        width: $checkbox-column-width;

        div {
            cursor: pointer;

            &:hover {
                color: $hel-coat
            }

            span {
                display: inline-block;
                height: 24px;
                width: 24px;
            }
        }
    }

    td, th {
        padding: 0 15px;
        width: 18%;
    }

    .loading-row {
        &.validation {
            .placeholder-cell {
                &:last-of-type {
                    width: $checkbox-column-width;
                }
            }
        }
    }
}

.draft-actions {
    margin-top: 20px;

    &--button:not(:first-of-type) {
        margin-left: 20px;
    }

    &--button-count {
        margin-left: 5px;
    }
}

.sub-events-progress {
    margin: 12px 0 12px 60px;
}

.sub-event-toggle {
    &:hover {
        cursor: pointer;
    }

    svg {
        height: 30px;
        width: 30px;
    }
}

tbody {
    > .sub-event-row {
        background-color: rgba(black, 0.01);
        border: solid #ebebeb;
        border-width: 2px 0 0;
    }

    .sub-event-row ~ .sub-event-row {
        border-width: 0 0 2px;
    }
}
@media (max-width: 480px) {
    .event-table {
        td, th {
            display: block;
        }
        td:first-child, th:first-child {
            margin-top: 20px;
        }
    }
}
