@import '../../assets/colors';

$checkbox-column-width: 50px;

.draft-row {
    background-color: rgba(255, 208, 91, 0.60) !important;
}

.cancelled-row {
    background-color: rgba(222, 114, 106, 0.60) !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.tag-space {
    margin-right: 4px;
    border: none;
    background-color: transparent;
    &:active, &:focus {
        outline: 2px solid black;
    }
}
.Mui-selected {
    background-color: #cce2f3;
}
@media (max-width: 768px) {
    .event-table thead th:not(.checkbox) .glyphicon { 
    display: inline;
    }
}
.event-table {
    tbody {
        td {
            vertical-align: middle;
        }
    }
    thead {
        th:not(.checkbox) {

            .glyphicon {
                margin: 0;
                font-size: 10px;
            }
        }
        @media (max-width: 500px) {
            tr {
                display: flex;
            }
        }
    }

    tbody {
        tr {
            td {
                .nameCell {
                    .draft-icon {
                        display: inline-flex;
                    }
                }
            }
            @media (max-width: 500px) {
                display: flex;
                td {
                    padding: 1rem;
                    .nameCell {
                        margin-left: -24px;
                        .draft-icon,>div {
                            display: none;
                        }
                    }
                    &.date-time {
                        margin-left: 24px;
                    }
                }
            }
        }
    }

    font-size: 0.875rem;
    th.checkbox,
    td.checkbox {
        padding: 10px;
        width: $checkbox-column-width;
    }

    th.checkbox + th:not(.checkbox),
    th:first-of-type:not(.checkbox),
    td.checkbox + td:not(.checkbox),
    td:first-of-type:not(.checkbox) {
        width: auto;
        @media (max-width: 500px) {
            width: 18%;
        }
    }

    td.name-cell {
        & > div {
            align-items: center;
            display: flex;
        }
    }

    td.publisher-cell {
        line-height: 1.2
    }

    th.validation-cell,
    td.validation-cell {
        min-width: $checkbox-column-width;
        padding: 0;
        text-align: center;
        width: $checkbox-column-width;


        span {
            cursor: pointer;
            display: inline-block;
            height: 24px;
            width: 24px;

            &:hover {
                color: $hel-coat
            }
        }
    }

    td, th {
        width: 18%;
    }

    .loading-row {
        &.validation {
            .placeholder-cell {
                &:last-of-type {
                    width: $checkbox-column-width;
                }
            }
        }
    }
    .checkbox {
        input {
            position: inherit;
            margin-top: initial;
            margin-left: initial;
        }
    }
}

.draft-actions {
    margin-top: 20px;
    @media (max-width:500px) {
        display: grid;
        button {
            margin: 10px 0px 10px;
    }
    &--button:not(:first-of-type) {
        margin-left: 0px !important;
    }
}
    &--button:not(:first-of-type) {
        margin-left: 20px;
    }

    &--button-count {
        margin-left: 5px;
    }
}

.sub-events-progress {
    margin: 12px 0 12px 60px;
}

.sub-event-toggle {
    &:hover {
        cursor: pointer;
    }

    svg {
        height: 30px;
        width: 30px;
    }
}

tbody {
    > .sub-event-row {
        background-color: rgba(black, 0.01);
        border: solid #ebebeb;
        border-width: 2px 0 0;
    }

    .sub-event-row ~ .sub-event-row {
        border-width: 0 0 2px;
    }
}
@media (max-width: 480px) {
    .event-table {
        td, th {
            display: block;
            margin-left: 20px;
        }
    }
}
