.MuiTableSortLabel-root-81 {
    &.disabled {
        opacity: 0.6;
        pointer-events: none;
        transition: opacity 150ms ease-in-out;
    }
}
.user-events-toggle{
    label{
        margin-bottom: 2rem;
    }
    .form-check-input{
        position:relative;
        margin-left: 0.5rem;

    }
   
}
