$search-bar-height: 72px;
$default-spacing: 8px;

.search-bar {
    .mui-raised-button {
        width: 100%;
        height: $search-bar-height;

        button {
            height: 100%;
        }
    }

    .time-input {
        width: 100%;
        height: $search-bar-height;
    }
    .time-label {
        position: relative;
        display: block;
        margin-top: 22px;
        margin-bottom: 6px;
    }
    .start-date:after {
        content: '-';
        position: absolute;
        font-size: 30px;
        top: 16px;
        right: -5px;
    }

    .input-row {
        align-items: center;
        display: flex;
        margin: $default-spacing * 2 0 $default-spacing * 4;

        > div {
            flex: 1 1 auto;
        }

        > button {
            flex: 1 0 auto;
        }
    }
}
