$search-bar-height: 72px;

.search-bar {
    .mui-raised-button {
        width: 100%;
        height: $search-bar-height;

        button {
            height: 100%;
        }
    }

    .time-input {
        width: 100%;
        height: $search-bar-height;
    }
    .time-label {
        position: relative;
        display: block;
        margin-top: 22px;
        margin-bottom: 6px;
    }
    .start-date:after {
        content: '-';
        position: absolute;
        font-size: 30px;
        top: 16px;
        right: -5px;
    }
    .text-field {
        width: 100%;

        font-size: 20px;
        font-weight: 300;
        background: #ffffff;

        margin-bottom: 10px;

        height: $search-bar-height;

        input {
            transition: 100ms border;

            width: 100%;
            height: 100%;

            font-weight: 300;
            font-size: 20px;

            padding-left: 20px;

            border: none;
            border-bottom: 2px solid white;

            &:focus {
                outline: 0;
                border-color: rgba(0, 188, 212, 1);
            }
        }

        label {
            display: none;
        }
    }
}
