.search-bar {
    &--dates {
        align-items: baseline;
        display: inline-flex;
    }

    &--label {
        margin-right: 2rem;
    }

    &--icon {
        margin: 0 16px;
        transform: translateY(8px);
    }

    &--input {
        align-items: center;
        display: flex;
        margin: 16px 0 32px;
        width: 100%;

        > div {
            flex: 1 1 auto;
        }

        > button {
            flex: 1 0 auto;
        }
    }
}

@media (max-width: 600px) {
    .search-bar--dates {
        flex-direction: column;
    }
}


@media (min-width: 992px) {
    .search-bar--input {
        width: 70%;
    }
}
