@import '../../assets/colors';

$helsinkiBarHeight: 64px;
$headerBarHeight: 128px;
$helsinkiLogoPaddingLeft: 30px;
$helsinkiLogoHeight: 36px;
$linkFontSize: 16px;
$linkedEventsTextSize: 19px;
$logoPaddingRight: 32px;
$addEventPadding: 6px 12px;
$languageMarginRight: 10px;

.main-navbar {
    height: $headerBarHeight !important;

    button {
        color: $hel-white;
        font-weight: bold;
        font-size: $linkFontSize;
    }

    a {
        color: inherit;

        &:hover,
        &:active,
        &:focus {
            color: inherit;
        }
    }
    
    .helsinki-bar {
        height: $helsinkiBarHeight;
        width: 100%;
        display: flex;
        background: $hel-theme;
        justify-content: space-between;
        align-items: center;

        &__logo {
            height: $helsinkiLogoHeight;
            white-space: nowrap;

            img {
                height: $helsinkiLogoHeight;
            }
        }

        &__login-button {
            display: flex;
            flex-direction: row;
        }

        &__language-button {
            margin-right: $languageMarginRight;
            display: flex;
            align-items: center;

            .language-selector {
                display: flex;
                align-items: center;
    
                .language-icon {
                    margin-right: $languageMarginRight;
                }
                .language-select-box {
                    background-color: transparent;
                    color: white;
                    text-transform: uppercase;
                    &::before{
                        display: none;
                    }
                }
            }
        }
    }

    .linked-events-bar {
        height: $helsinkiBarHeight;
        width: 100%;
        display: flex;
        background: $hel-white;
        align-items: center;

        &__logo {
            padding-right: $logoPaddingRight;
            span {
                font-size: $linkedEventsTextSize;
                font-weight: bold;
                color: $hel-theme;
            }
        }

        &__links {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            
            &__list {
                button {
                    color: black;
                }
            }

            &__create-events {
                color: $hel-theme;
                border: 2px solid $hel-theme;
                padding: $addEventPadding;
            }
        }
    }
}
