@import '../../assets/colors';
$header-bar-height: 56px;
$navbarIconPaddingLeft: 5px;

.mui-toolbar {
    color: $hel-white;
    background-color:$hel-tram;
    height: auto !important;
    min-height: $header-bar-height;
    display: flex;
    justify-content: space-between;

button{
    color: $hel-white;
}

    a {
        color: inherit;

        &:hover,
        &:active,
        &:focus {
            color: inherit;
        }
    }

    .title {
        display: inline-block;
        min-height: $header-bar-height;

        padding-left: 30px;
        white-space: nowrap;

        .title-image {
            display: inline-block;
            height: 48px;
            width: auto;
        }
    }

    .mui-flat-button {
        background-color: transparent;
        color: $hel-white;
        outline: none;

        margin-left: 6px !important;
        margin-right: 6px !important;

        &:nth-of-type(1) {
            margin-left: 18px;
        }

        &:hover {
            background-color:$hel-light;
        }
    }

    .toolbar-actions {
        display: inline-block;
        margin: 0px 2px;

        height: $header-bar-height;

    }

    .clearfix {
        clear: both;
    }
}

.navlinksHolder{
    padding-left: 5%;
    margin: auto;
    width: 100%;
    color: $hel-white;
    display: flex;

    .title-text {
        display: inline-block;
        white-space: nowrap;
        line-height: $header-bar-height;
        flex-basis: 20%;
        color:$hel-tram;
        font-weight: 500;
        align-self: center;
        cursor: pointer;
    }

    .navbar-links {
        flex-basis: 60%;
        svg {
            padding-left: $navbarIconPaddingLeft;
        }
    }

    .mui-flat-button {
        color: $hel-black !important;
        margin-left: 2px !important;
        margin-right: 2px !important;

        &:hover {
            background-color: $hel-light;
        }
    }

    .navbar-links-two{
        flex-basis: 20%;
        padding-left: 5%;
    }
}


@media (max-width: 800px) {
    .mui-toolbar {
        padding: 0 !important;
    }
}

@media (max-width: 480px) {
    .mui-flat-button {
        outline: 'none';
        &:nth-of-type(1) {
            margin-left: 4px !important;
        }
    }
}
