$header-bar-height: 56px;

.mui-toolbar {
    color: #ffffff;

    height: auto !important;
    min-height: $header-bar-height;

    a {
        color: inherit;

        &:hover,
        &:active,
        &:focus {
            color: inherit;
        }
    }

    .title {
        display: inline-block;
        min-height: $header-bar-height;

        padding-left: 30px;
        white-space: nowrap;

        .title-text {
            display: inline-block;
            white-space: nowrap;
            line-height: $header-bar-height;
            padding-left: 16px;
        }

        .title-image {
            display: inline-block;
            height: 48px;
            width: auto;
        }
    }

    .mui-flat-button {
        background-color: transparent;
        color: #ffffff;

        margin-left: 6px !important;
        margin-right: 6px !important;

        &:nth-of-type(1) {
            margin-left: 18px !important;
        }

        &:hover {
            background-color: rgba(255,255,255,0.1);
        }
    }

    .toolbar-actions {
        display: inline-block;
        margin: 0px 2px;

        height: $header-bar-height;

        .mui-flat-button {
            margin-left: 2px !important;
            margin-right: 2px !important;
        }
    }

    .clearfix {
        clear: both;
    }
}

@media (max-width: 800px) {
    .mui-toolbar {
        padding: 0 !important;
    }
}
