@import '../../assets/colors';
$headerBarHeight: 100px;
$navbarIconPaddingLeft: 5px;
$helsinkiLogoPaddingLeft: 30px;
$helsinkiLogoHeight: 36px;
$helsinkiBarHeight: 64px;

.main-navbar {
    color: $hel-white;
    height: $headerBarHeight !important;
    flex-direction: row;
    flex-wrap: wrap;

    a {
        color: inherit;

        &:hover,
        &:active,
        &:focus {
            color: inherit;
        }
    }
    
    .helsinki-bar {
        height: $helsinkiBarHeight;
        width: 100%;
        display: flex;
        background: $hel-tram;
        justify-content: space-between;
        align-items: center;

        &__logo {
            height: $helsinkiLogoHeight;
            white-space: nowrap;

            img {
                height: $helsinkiLogoHeight;
            }
        }
    }

    .linked-courses-bar {
    
    }
}
