.series{
    font-size: 12px;
    background-color:#008540;
    color:#ffff;
}
.umbrella{
    font-size: 12px;
    background-color: #0072c6;
    color:#ffff;
}
.draft{
    font-size: 12px;
    background-color: #ffc107;
    color:#000000;
}
.cancelled{
    font-size: 12px;
    background-color: #fd4f00;
    color:#ffff;
}
.postponed{
    font-size: 12px;
    background-color: #9fc9eb;
}
