.series{
    background-color:#009246;
    color:#ffff;
}
.umbrella{
    background-color: #0072c6;
    color:#ffff;
}
.draft{
    background-color: #ffc107;
    color:#000000;
}
.cancelled{
    background-color: #fd4f00;
    color:#ffff;
}
.postponed{
    background-color: #9fc9eb;
}
