$languageCheckboxInitialWidth: 30%;
$actionBtnHeight: 60px;

.editor-page {
    font-weight: 300;
    background-color: #ffffff;
    .header {
        align-items: baseline;
        display: flex;
        position: relative;
        .controls {
            margin-left: auto;
            button:not(:first-of-type) {
                margin-left: 15px;
            }
        }
    }
    h2,h3,legend,.legend {
        font-family: "HelsinkiGrotesk", "Roboto", "Helvetica Neue", "Segoe UI", Calibri, sans-serif;
    }
    h2,h3 {
        margin-top: 55px;
    }
    .highlighted-block {
        display: block;
        background-color: #f6f6f6;
        padding: 20px;
        //line-height: 72px;
        line-height: 1.5;
        color: #5a5959;
        label {
            font-size: 24px;
            line-height: 2.5; 
        }
        .language-selection {
            height: 0.1%;
            display: flex;
            justify-content: space-evenly;
            text-transform: capitalize;
            font-size: 20px;
            margin-left: -0.5rem;
            flex-wrap: wrap;
            & > * {
                flex: 0 1 33%;
                margin: 0;
                min-width: max-content;
            }
            .checkbox1 {
                position: absolute;
                height:1.5rem;
                width: 1.5rem;
                margin-top: 0.2rem;
                margin-left: 1rem;
            }
        }
    }
    .side-field {
        padding-top: 36px;
        p {
            font-size: 18px;
            font-weight: 300;
            color: #373a3c;
        }
        strong {
            font-weight: bold;
        }
        &.padded {
            padding-top: 66px;
        }
        &-umbrella {
            padding-top: 0;
            .tip {
                margin-top: 0;
            }
        }
    }

    .hel-select {
        display: block;
        clear: both;
        legend,
        .legend {
            font-size: 24px;
            width: max-content;
        }
    }

    .editor-action-buttons {
        align-items: center;
        background-color: #f7f7f7;
        display: flex;
        height: 120px;
        justify-content: center;
        margin-top: 3rem;
        padding-top: 2rem;
        position: relative;
        .loading-spinner {
            position: absolute;
        }
        .buttons-group {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            button {
                height: $actionBtnHeight;
            }
            > * {
                &:not(:first-child) {
                    margin-left: 15px;
                }
                &.editor-delete-button {
                    margin-right: auto;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    legend,
        .legend  {
        margin-top: 2rem !important;
    }
    .editor-page {
    .editor-action-buttons {
        .buttons-group {
            display: block;
            .btn-secondary {
                margin-top: 5px;
                width: 100%;
            }
            > * {
                &:not(:first-child) {
                    margin-left: 0px;
                }
        }
    }
    
}}
@media (max-width: 780px) {
    .editor-page {
        .highlighted-block {
            .language-selection {
                display: contents;
            }
        }
    }
}}