.editor-page {
    background-color: #ffffff;

    .highlighted-block {
        display: block;
        background-color: #f6f6f6;
    }

    .mui-checkbox {
        width: auto !important;
        display: inline-block;
    }
}
