.editor-page {

    font-weight: 300;
    background-color: #ffffff;

    .header {
        position: relative;

        h1 {
            display: inline-block;
        }

        .controls {
            position: absolute;
            right: 16px;
            bottom: 4px;
            display: inline-block;
        }
    }

    h2,h3,legend,.legend {
        font-family: "Roboto", "Helvetica Neue", "Segoe UI", Calibri, sans-serif;
    }

    h2,h3 {
        margin-top: 55px;
    }

    .highlighted-block {
        display: block;
        background-color: #f6f6f6;
        padding: 20px;

        //line-height: 72px;
        line-height: 1.5;

        color: #5a5959;

        label {
            font-size: 24px;
            margin-bottom: 0;
            line-height: 1.5;
        }

        .spread-evenly,
        .spread-right {
            flex-wrap: wrap;
            height: 100%;
        }

        .hel-checkbox {
            display: inline-block;
            margin-right: 16px;
        }

        .language-selection {
            height: 100%;
            width: 100%;

            label {
                font-size: 20px;
                padding-right: 30px;
            }
        }
    }

    .side-field {
        padding-top: 36px;

        p {
            font-size: 18px;
            font-weight: 300;
            color: #373a3c;
        }

        &.padded {
            padding-top: 66px;
        }
    }

    legend,
    .legend  {
        margin-top: 6rem;
    }

    .checkbox-group,
    .hel-select {
        display: block;
        clear: both;
        legend,
        .legend {
            font-size: 24px;
        }

        label {
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .checkbox-group {
        legend,
        .legend {
            margin-top: 4rem;
        }

        &:nth-of-type(1) {
            legend,
            .legend {
                margin-top: 2rem;
            }
        }

        div#left_column {
            float: left;
        }
    }

    .editor-action-buttons {
        margin-top: 6rem;
        padding-top: 3rem;

        background-color: #f7f7f7;
        height: 176px;

        .loader {
            position: relative;
            top: 32px;
            left: 200px;
        }

        .actions {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

@media (max-width: 480px) {
    legend,
        .legend  {
            margin-top: 2rem !important;
        }
}
