@import "../../assets/_colors.scss";

.image-thumb {
    position: relative;
    height: 228px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid gray;


    &.selected {
        border: 4px solid $hel-coat;
    }

    .thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        cursor: pointer;
        &:focus, &:hover {
            border: 4px solid $hel-coat;
        }
    }
    &:hover, &:active,&:focus, &:focus-within {
        .name {
            display: flex;
            max-height: 100px;
                .image-title {
                    display: block;
                }
                .name-buttons {
                    .btn {
                        display: inline-block;
                    }
                }
        }
    }

    .name {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        position: absolute;
        bottom: 0;
        left: 0;
        max-height: 0px;
        height: auto;
        transition: max-height 0.1s ease-in;
        width: 100%;
        background: rgba(0,0,0,0.5);



            .name-buttons {
                display: flex;
                .btn {
                    display: none;
                    background-color: transparent;
                    width: 100%;
                    height: 50px;
                    border-radius: 0px;
                    &:hover, &:focus {
                        background-color: $hel-coat;
                    }
                    .glyphicon {
                        margin: 0px;
                    }
                }
            }

            &:hover {
                opacity: 0.95;
            }

            .image-title {
                display: none;
                flex-grow: 1;
                height: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: center;
            }
        }
    }

    .no-image-text {
        align-items: center;
        font-size: 28px;
        font-weight: 400;
        position: absolute;
        top: 40%;
        text-align: center;
        height: 77px;
        width: 100%;
    }


ul.pagination {
    flex-wrap: wrap;
}

@media only screen and (max-width: 1200px) {
    .image-thumb {
        .name {
            display: flex;
            max-height: 100px;
            .image-title {
                display: block;
            }
            .name-buttons {
                .btn {
                    display: inline-block;
                }
            }
        }
    }
}
