@import "../../assets/_colors.scss";

.image-thumb {
    position: relative;
    height: 228px;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    border: 1px solid gray;

    &.selected {
        border: 4px solid $hel-coat;
    }

    .thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        cursor: pointer;
        &:focus, &:hover {
            border: 4px solid $hel-coat;
        }
    }

    .name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 77px;
        width: 100%;
        padding: 0 22px;
        background: rgba(0,0,0,0.5);

        &.edit-image {
            cursor: pointer;

            &:hover {
                opacity: 0.9;
            }

            .image-title {
                flex-grow: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .no-image-text {
        align-items: center;
        font-size: 28px;
        font-weight: 400;
        position: absolute;
        top: 40%;
        text-align: center;
        height: 77px;
        width: 100%;
    }
}

ul.pagination {
    flex-wrap: wrap;
}


.button-row {
    display: inline-grid;
    grid-template-columns: auto auto;
    margin: 1rem 0;
    padding: 0 15px;
    width: 100%;

    button {
        display: inline-block;
    }

    .wrapper-right {
        display: inline-block;
        justify-self: end;
    }

    .delete {
        justify-self: start;
    }

    .edit {
        margin-right: 1rem;
    }
}
