.container > div > .row {
    justify-content: space-between;
}

.clipboard-copy-button {
    padding: 4px;
    position: absolute;
    box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
}

.location-row {
    .clipboard-copy-button {
        right: -30px;
        top: 65px;
    }

}

.keyword-row {
    position: relative;

    .clipboard-copy-button {
        left: 480px;
        top: 65px;
    }
}

@media (max-width: 544px) {
    .location-row {
        .clipboard-copy-button {
            position: static !important;
        }
    }
    .keyword-row {
        .clipboard-copy-button {
            left: 17px;
            top: 120px;
            z-index: 2;
        }
    }
}

@media (min-width: 544px) and (max-width: 768px) {
    .keyword-row {
        .Select-control {
            width: 90%;
        }
        .clipboard-copy-button {
            left: 515px;
        }
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .keyword-row {
        .Select-control {
            width: 95%;
        }
        .clipboard-copy-button {
            left: 680px;
        }
    }
}

@media (min-width: 1200px) {
    .keyword-row {
        .clipboard-copy-button {
            left: 564px;
        }
    }
}
