.clipboard-copy-button {
    padding: 4px;
    position: absolute;

    .material-icons {
        padding: 0;
    }
}

.location-row {
    .clipboard-copy-button {
        right: -30px;
        top: 140px;
    }

}

.keyword-row {
    position: relative;

    .clipboard-copy-button {
        left: 465px;
        top: 65px;
    }
}

@media (max-width: 544px) {
    .location-row {
        .clipboard-copy-button {
            position: static !important;
        }
    }
    .keyword-row {
        .clipboard-copy-button {
            left: 17px;
            top: 80px;
            z-index: 2;
        }
    }
}

@media (min-width: 544px) and (max-width: 990px) {
    .keyword-row {
        .clipboard-copy-button {
            left: 16px;
            top: 80px;
        }
    }
}
