.imageGallery {
    .toggleEdit {
        height: initial;
        margin-bottom: 20px;
    }
    .toggleOrg {
        height: initial;
    }
    .image-select-default {
        text-align: center;
    }
}
