$bg-color: #f6f6f6;

.image-gallery {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 100%;
    // height: 346px;

    padding-bottom: 20px;

    text-align: center;

    background-color: $bg-color;

    cursor: pointer;

    color: #484848;

    transition: background 200ms;

    overflow: hidden;

    &:hover {
        background-color: darken($bg-color, 4%);
    }

    i {
        padding-top: 20px;
        font-size: 72px;
        color: #9b9b9b;
    }

    label {
        padding-top: 20px;
        font-size: 18px;
        max-width: 200px;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        z-index: 500;
    }

}
