$bg-color: #f6f6f6;
$modal-backdrop-opacity: 0.7;

#image-modal {
    .modal-header {
        display: block;
    }

    .modal-dialog {
        height: 100%;
        width: 95%;
        min-width: 80%;

        .modal-content {
            max-height: 90%;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }
}

.image-picker {

    position: relative;
    height: 346px;

    padding-top: 4em;
    text-align: center;

    background-color: $bg-color;
    cursor: pointer;
    color: #484848;
    transition: background 200ms;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    border: 1px solid gray;

    &:hover {
        background-color: darken($bg-color, 4%);
    }

    i {
        padding-top: 20px;
        font-size: 72px;
        color: #9b9b9b;
    }

    label {
        padding-top: 20px;
        font-size: 18px;
        max-width: 200px;
    }

    .img-preview {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        z-index: 666;
    }

    // Center the spinner both horizontally & vertically
    .loading-spinner {
        width: 50px;
        height: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
}

.modal {
  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    opacity: 0;
    transition: none;
    transform: translate(0, 0);
  }
  &.in .modal-dialog { transform: translate(0, 0); opacity: 1; }
}

.modal-backdrop {
    transition: opacity .3s ease-out;
  // Fade for backdrop
  &.fade { opacity: 0; }
  &.in { opacity: $modal-backdrop-opacity; }
}

.modal-content {
    box-shadow: 0px 0px 30px rgba(0,0,0,0.3);

    padding: 12px 6px;
    padding-bottom: 6px;

    border-radius: 0;
    border: 0;
    min-width: 80%;

    .modal-body {
        padding: 12px 24px;

        ul {
            margin: 0.3rem 0 0;
        }
    }

    .close {
        font-size: 42px;
        font-weight: 300;
        position: absolute;
        top: 0;
        right: 10px;
        border: 0;
        background: transparent;
    }
}
