.draft-row {
    background-color: rgba(255, 208, 91, 0.60) !important;
}

.cancelled-row {
    background-color: rgba(222, 114, 106, 0.60) !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.event-table {
    td, th {
        overflow-wrap: break-word;
        white-space: normal !important;
    }
}

@media (max-width: 480px) {
    .event-table {
        td, th {
            display: block;
        }
        td:first-child, th:first-child {
            margin-top: 20px;
        }
    }
}
