@import "fonts";

// Box shadow shim for bootstrap
@mixin box-shadow($left:0, $top:2px, $blur:2px, $color:#000, $inset:"") {
      -webkit-box-shadow:$left $top $blur $color #{$inset};
      -moz-box-shadow:$left $top $blur $color #{$inset};
      box-shadow:$left $top $blur $color #{$inset};
}

@import "node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "node_modules/bootstrap/scss/bootstrap-grid.scss";

@import "node_modules/bootstrap/scss/_modal.scss";
@import "node_modules/bootstrap/scss/mixins/_reset-text.scss";
@import "node_modules/bootstrap/scss/mixins/_border-radius.scss";
@import "node_modules/bootstrap/scss/_popover.scss";

// Define a custom sass file to override any variables defined in scaffolding.scss
// @import "my-custom-overrides.scss";

html, body {
    width: 100%;
    padding: 0;
    margin: 0;

    background-color: #f7f7f7;

    font: normal normal normal 18px/1.2 "Roboto", "Helvetica Neue", "Segoe UI", Calibri, sans-serif;
}

.material-icons {
    position: relative;
    top: -1.5px;
    vertical-align: middle;
    padding-left: 10px;
}

.content {

}

h1,h2,h3 {
    font-family: "KarbidComp", "Roboto", "Helvetica Neue", "Segoe UI", Calibri, sans-serif;
}

h1 {
    color: #464646;
    font-size: 51px;
}

h2,h3,legend,.legend {
    font-size: 31px;
    color: #757575;
}

.legend {
    position: relative;
    display: inline-block;
    margin-bottom: 0.5rem;
}


h1,h2 {
    padding-top: 110px;
    padding-bottom: 40px;

    font-weight: 300;
}

header {
    padding-top: 110px;
    padding-bottom: 40px;

    h1 {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.spread-evenly {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.spread-right {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}

.padded {
    padding: 0.5rem 0.5rem;
}

.relative {
    position: relative;
}

.notification-bar {
    button {
        color: white !important;
        background-color: rgba(0,0,0,0.16) !important;
    }
}
