@import "fonts";
@import "button";

// Box shadow shim for bootstrap
@mixin box-shadow($left:0, $top:2px, $blur:2px, $color:#000, $inset:"") {
      -webkit-box-shadow:$left $top $blur $color #{$inset};
      -moz-box-shadow:$left $top $blur $color #{$inset};
      box-shadow:$left $top $blur $color #{$inset};
}

@import "node_modules/bootstrap/scss/bootstrap.scss";

// @import "node_modules/bootstrap/scss/mixins/_label.scss";
// @import "node_modules/bootstrap/scss/_labels.scss";

// Define a custom sass file to override any variables defined in scaffolding.scss
// @import "my-custom-overrides.scss";

.well {
    min-height:20px;
    padding:19px;
    margin: 2em;
    margin-bottom:20px;
    background-color:#f5f5f5;
    border:1px solid #e3e3e3;
    border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.05)
}
.well blockquote {
    border-color:#ddd;
    border-color:rgba(0,0,0,.15)
}
.well-lg {
    padding:24px;
    border-radius:6px
}
.well-sm {
    padding:9px;
    border-radius:3px
}

html, body {
    width: 100%;
    padding: 0;
    margin: 0;

    background-color: #f7f7f7;

    font: normal normal normal 18px/1.2 "HelsinkiGrotesk", "Helvetica Neue", "Segoe UI", Calibri, sans-serif;
}

.material-icons {
    position: relative;
    top: -1.5px;
    vertical-align: middle;
    padding-left: 10px;
}

.content {
    padding-bottom: 2em;
}

h1,h2,h3 {
    font-family: "HelsinkiGrotesk", "Roboto", "Helvetica Neue", "Segoe UI", Calibri, sans-serif;
}

h1 {
    color: #464646;
    font-size: 51px;
}

h2,h3,legend,.legend {
    font-size: 31px;
    color: #757575;
}

.legend {
    position: relative;
    display: inline-block;
    margin-bottom: 0.5rem;
}


h1,h2 {
    padding-top: 110px;
    padding-bottom: 40px;

    font-weight: 300;
}

header {
    padding-top: 110px;
    padding-bottom: 40px;

    h1 {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.padded {
    padding: 0.5rem 0.5rem;
}

.relative {
    position: relative;
}

.notification-bar {
    button {
        color: white !important;
        background-color: rgba(0,0,0,0.16) !important;
    }
}

.tip {
    margin-top: 28px;
    background-color: #f6f6f6;
    padding: 20px;
}

#debughelper {
    position: fixed;
    bottom: 5em;
    left: 0;
}

#debughelper_container {
    //margin: 0.3em 1em 1em 0.3em;
    //padding: 1em 0 0 0.2em;
    position: relative;
    z-index: 100;
    height: 3em;
    width: 1em;
    //background: white;
    //border: 1px solid black;
    font-size: 200%;
    margin-left: -0.3em;
}

#slide {
    position: absolute;
    z-index: 99;
    left: -33em;
    width: 33em;
    height: 4em;
    transition: 1s;
    background-color: white;
    border: 1px solid black;
    border-left: none;
    top: 0;
    margin-top: -0.5em;
    padding: 0.2em 0.3em 0.2em 3.3em;
}

#debughelper:hover #slide {
    transition: 0.5s;
    left: 0;
}


#testingmessage {
    background: red;
    text-align: center;
    height: 3em;
    line-height: 3em;
    color: white;
    font-size: 130%;
}

#testingmessage a {
    margin: 1em;
}

#commitmessage {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 80%;
    margin: 0.3em;
    color: #48a3e7;
}

@media (max-width: 480px) {
    h1 {
        font-size: 37px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    h2 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #debughelper {
        bottom: 1em;
    }
}

