.image-edit-dialog {
  &--image {
    object-fit: contain;
  }
  .modal-header {
    border: none;
    padding: 16px 24px;
    .modal-title {
        padding: 0px;
        margin-top: 0px !important;
    }
        h1 {
            font-weight: 500;
            font-size: 1.25rem;
        }
    button {
        color: black;
        background-color: transparent;
        border: none;
        &:focus {
        outline: -webkit-focus-ring-color auto 5px;
        }
        &:hover &:active {
            background-color: rgba(0, 0, 0, 0.08);
        }
    .glyphicon {
        margin: 0px;
        color:rgba(0, 0, 0, 0.54);
    }
    }
  }
  h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
  }
    .image-license-container {
        .license-choices {
            margin: 0.5em 0;
            display: flex;
            flex-direction: column;
            input {
                font-size: inherit;
            }

            input[type="checkbox"]::after {
                border: 0;
                width: 1em;
                height: 1em;
            }
            input[type="checkbox"]:checked::before {
                /* Use `visibility` instead of `display` to avoid recalculating layout */
                visibility: visible;
            }
            input[type="radio"] {
                margin-right: 1em;
            }
        }



        .license-help-text {
            display: flex;
            flex-direction: column;
            background: var(--main-color);
            border: 1px solid;
            color: var(--black-color);

            &.tip {
                margin: 0;
                padding: 10px;
            }
        }
    }
    .help-license {
      margin-top: 16px;
    }

    .help-notice {
      margin-top: 10px;
    }

}
.file-upload {
  .image-error {
    margin: 1vh 0 1vh 0;
    color: #dc3545;
}

&--new {
  margin-bottom: 15px;
}

 .tip {
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 10px;
   p {
     margin: 0px;
   }
 }
  .btn {
    padding: 6px 6px;
    border-radius: 2px;
    font-size: 15.75px;
    background-color: #0072c6;
    max-width: 453px;
  }
  .btn-primary.disabled:hover {
    background-color: #6c757d;
  }
}
.button-row {
  .btn {
    padding: 16px 16px;
    border-radius: 2px;
    font-size: 15.75px;
    background-color: #0072c6;
  }
}
.disabled:disabled {
  background-color: #6c757d;
  border: none;
}
