#image-modal {
    z-index: 1040;
}

.form-check {
    padding-left: 0;
}
.edit-label {
    cursor: pointer;
    position: relative;
    margin: 0;

    &:last-child {
        padding-left: 20px;
    }

    span {
        font-size: 15px;
        color: #777;
    }

    .form-check-input {
        cursor: pointer;
        position: relative;
        display: inline-block;
        margin: -1px 1rem 0 0;
        padding: 0;
        position: relative;
        text-align: left;
        line-height: inherit;
        vertical-align: middle;
    }
}

.form-image {
    height: 250px;
    width: auto;
}

.btn-save-image-data {
    cursor: pointer;
    text-decoration: none;
    outline: none;
    height: 70px;
    width: 96%;
    border-radius: 2px;
    background-color: #48a3e7;
    color: #fff;
    margin: 60px 30px 30px 30px;
    &:hover, &:focus {
        color: #fff;
    }
}

.edit-image {
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }

    .image-title {
        flex-grow: 1;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.edit-form {
    margin-top: 50px;
}
