doctype
html.no-js
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='description' content='Linkedevents')
        meta(name='keywords' content='Linkedevents, Linkedevents-ui')
        - var instanceName = ui_mode === 'courses' ? 'Linked Courses' : 'Linked Events'
        title #{instanceName} UI
        script(type='text/javascript').
            window.appSettings = !{configJson};

    body
        if APP_MODE == 'testing'
            #testingmessage
                | Huom! Tämä on testiversio.
        div(style={height: '100%'})
            #content
        if APP_MODE == 'development'
            script(src="/scripts/main.js" type="text/javascript")

