doctype
html.no-js
html(lang="fi")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        - var instanceName = ui_mode === 'courses' ? 'Linked Courses' : 'Linked Events'
        title #{instanceName} UI
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto&display=swap", type='text/css')
        script(type='text/javascript').
            window.appSettings = !{configJson};

    body
        <!--[if lte IE 8]>
        p.browsehappy
          | You are using an <strong>outdated</strong> browser.
          | Please <a href="http://browsehappy.com/">upgrade your browser</a>
          | to improve your experience.
        <![endif]-->
        if APP_MODE == 'testing'
            #testingmessage
                | Huom! Tämä on #{instanceName} testiversio.
        div
            #content
        if APP_MODE == 'development'
            script(src="/scripts/main.js", type="text/javascript")
        
