.date-input-error {
    color: #B30000;
}

.custom-date-input {
    .input-and-button{
        display: flex;
    }

    label {
        font-size: 1rem;
        padding-top: 2vh;
    }
    input {
        border: none;
        border-bottom: solid 2px;
        background: none;
        border-radius: 0;
        &:hover,
        &:focus,
        &:active {
            box-shadow: none;
            border-bottom: solid 3px;
            border-color: #0072c6;
            background: none;
        }
    }

    &__button {
        color: #fff;
        background-color:#0072c6;
        border-radius: 2px;

        &.glyphicon, .glyphicon-calendar {
            font-size: inherit;
            margin: 0 4px;
        }
    }
}