
.notification {
    position: fixed;
    bottom: 0;
    z-index: 100;
    padding-top: 1rem;
    color: #ffff;
    background-color: #222222;
    min-width: -webkit-fill-available;
    min-width:  -moz-available;
    .btn {
        margin-left: 1rem;
        background-color: transparent;
        border-color: #ffffff;
    }
}
