
.notification{
    z-index: 9999;
    position: fixed;
    bottom: 0;
    min-width: -webkit-fill-available;
    min-width:  -moz-available;
    background-color: #000000;
    .btn {
        margin-left: 1rem;
        background-color: transparent;
        border-color: #ffffff;
    }

}
.text-center{
    color: #ffff;
}
