.recurring-events-modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 998;
    background-color: rgba(0,0,0,0.75);
    width: 100vw;
    height: 100vh;

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
.recurring-events {
    position: relative;
    z-index: 999;
    padding: 2vw;
    max-width: 95%;
    max-height: 95vh;
    overflow: scroll;
    background-color: white;
    h2 {
        margin: 0;
        padding: 0;
    }
}

.recurring-day {
    display: inline-block;
    margin-right: 7px;
}
.dates-label {
    position: relative;
    font-size: 15px;
    margin: 10px 0px;
    color: #777;
}

.repeat-frequency {
    margin-bottom: 2rem; // copy from multi-field margin
}

.play-date-label {
    @extend .dates-label;
}

.repetition-count {
    max-width: 27px;
    display: inline-block;
    input {
        text-align: center;
    }
    span {
        .form-group {
            .control-label {
                position: absolute;
                left: -105px;
                top: -25px;
            }
        }
    }
}
.recurring-date-range-wrapper {
    label {
        @extend .dates-label;
    }
}
.popover-content {
    pointer-events: none;
}
.recurring-times {
    .label-wrapper {
        position: relative;
    }
    .label-wrapper > span:first-child {
        @extend .dates-label;
    }
}
