.repetition-count {
    align-items: center;
    display: inline-flex;
    input {
        margin: 0;
        width: 40px;
        padding: 4px 8px;
        text-align: center;
        border-top: none;
        border-left: none;
        border-right: none;
    }
}
//Styling for the Modal
.recurringEvent {
    .modal-header {
        padding-left: 24px;
        padding-right: 24px;
        align-items: center;
        .modal-title {
            margin-top: 0px !important;
            display: flex;
            flex: auto;
            justify-content: space-between;
            font-size: 1.25rem;
            font-weight: 500;
        }
        button {
            color: black;
            background-color: transparent;
            border: none;
            &:focus {
            outline: -webkit-focus-ring-color auto 5px;
            }
            &:hover &:active {
                background-color: rgba(0, 0, 0, 0.08);
            }
        .glyphicon {
            margin: 0px;
            color:rgba(0, 0, 0, 0.54);
        }
    }
    }
    .modal-body {
        padding: 8px 24px;
        .col-sm-12 {
        h2 {
            margin-top: 0px !important;
            font-weight: 500;
            font-size: 1.25rem;
        }
        h3 {
            font-size: 1.25rem;
        }
        button {
            width: 100%;
            background-color: #0072c6;
            &:hover {
                background-color: #000098;
            }
        }
        }
    }
}